* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    display: flex;
}

#grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(159, 93, 221);
}

#grid div {
    width: 20px;
    height: 20px;    
}

.figura-tetris {    
    background-color: cornflowerblue;
}

#mini-grid {
    width: 140px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: crimson;
    margin-left: 40px;
}

#mini-grid div {
    width: 20px;
    height: 20px;
}